{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>SunuSanté — Facture</title>
    <link rel="stylesheet" href="{% static 'rendezvous/style.css' %}">
</head>
<body>
    <header>
        <h1>SunuSanté</h1>
        <p>Facture — {{ patient.prenom }} {{ patient.nom }}</p>
    </header>

    <main>
        <table>
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Date</th>
                    <th>Prix</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody>
                {% for rdv in patient.rendez_vous.all %}
                    <tr>
                        <td>{{ rdv.get_type_consultation_display }}</td>
                        <td>{{ rdv.date }}</td>
                        <td>{{ rdv.prix }} FCFA</td>
                        {# TODO (TP3) : |safe désactive l'échappement automatique de Django. #}
                        {# Une note contenant du HTML/JS est injectée telle quelle : XSS stocké. #}
                        <td>{{ rdv.notes}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="total">Total : <strong>{{ total }} FCFA</strong></p>
    </main>
</body>
</html>
